stages:
  - test

variables:
  DOTNET_CLI_TELEMETRY_OPTOUT: "1"

before_script:
  - dotnet --version
  - dotnet restore

api-tests:
  stage: test
  script:
    - echo "Running Booking API Tests on Windows Runner..."
    - dotnet build --no-restore
    - dotnet test --logger "console;verbosity=normal" --no-build
    - echo "Tests completed! Searching for ExtentReports..."
    - dir /s *.html
    - dir /s TestReports
    - dir /s bin
  artifacts:
    when: always
    paths:
      - bin/**/*.html
      - TestReports/
      - *.html
    expire_in: 1 week
  only:
    - main
  tags:
    - api