stages:
  - test

variables:
  DOTNET_CLI_TELEMETRY_OPTOUT: "1"

before_script:
  - dotnet --version
  - dotnet restore

api-tests:
  stage: test
  script:
    - echo "Running Booking API Tests on Windows Runner..."
    - dotnet build --no-restore
    - dotnet test --logger "console;verbosity=normal" --no-build
    - echo "Tests completed! ExtentReports should be in bin/Debug/net6.0/TestReports/"
  artifacts:
    when: always
    paths:
      - bin/Debug/net6.0/TestReports/
    expire_in: 1 week
  only:
    - main
  tags:
    - api